<!--Header-->
<header id="inicio" class="container-fluid header">
    <!--Barra de navegación-->
   <div class="row">
       <div class="col header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark">
               <div class="container-fluid">
                   <a class="navbar-brand" target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../assets/logoAP.svg" alt="Argentina Programa"></a>
                   <ul _ngcontent-vtp-c14 id="main-menu" class="main-menu">
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://www.facebook.com/lauti.cabrera.35"><i class="bi bi-facebook"></i></a>
                       </li>
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/lautaro-cabrera-fernandez-a56a89231/"><i class="bi bi-linkedin"></i></a>
                       </li>
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://github.com/LautiCabrera"><i class="bi bi-github"></i></a>
                       </li>          
                   </ul>
                   <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarText">
                       <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
                           <li class="nav-item">
                               <a class="nav-link" href="#sobre_mi">Sobre mí</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#habilidades">Habilidades</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#educacion">Educación</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#proyectos">Proyectos</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#contacto">Contacto</a>
                           </li>
                       </ul>
                       <span class="navbar-text">
                           <a class="nav-link fs-4" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user-lock"></i></a>
                       </span>
                   </div>
               </div>
           </nav> 
       </div>
   </div>
   <!--Texto del header-->
   <div class="container-lg contenedor">
       <div class="row justify-content-start">
           <div class="col-12">
               <h2 class="display-1">Lautaro Cabrera</h2>
           </div>
           <div class="display-6 icon-lines">
               <i class="fa-solid fa-code"></i>
           </div>
           <div class="row justify-content-start">
               <div class="col-4">
                   <h3 class="display-5">Desarrollador Web Fullstack</h3>
                   <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#editUserModal"><i class="bi bi-pencil-square" href="#" style="color: rgb(255, 255, 255);"></i></span>
               </div>
           </div>
       </div>
   </div>
   <div class="justify-end-to-center">
       <a class="btn btn-lg" href="#contacto">Contacto</a>
   </div>
   <script src="bootstrap.bundle.min.js.map"></script>
 </header>
