<section class="container-fluid" id="educacion" >
    <div class="container py-4 contenedor">
        <h2 class="display-6 mb-3 h2-lines">Educación</h2><br>
        <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus">
            <i *ngIf="isLogged" routerLink="/addEdu" type="button" class="bi bi-plus-circle"></i>
        </span>
        <ul class="row justify-content-center list-unstyled mt-3">
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/MindHub.png" alt="AP" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" *ngFor="let educacion of educacion">
                            <h4 class="card-title display-6 text-center">{{educacion.nombre}}</h4>
                            <p style="text-align:justify;" class="card-text fs-4">{{educacion.nombre}}</p> 
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4">
                                        <span class="fw-bolder">Duración:</span> Ene 2023 - Mar 2023
                                    </p>
                                </div>
                                <div class="col-md text-center" *ngIf="isLogged">
                                    <a target="_blank"
                                        href="https://www.credly.com/badges/b9145ecf-6016-4e46-9296-d8b7b3de59a5"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"data-bs-target="#itemModal">
                                        <i routerLink="/editEdu/{{educacion.id}}" type="button" class="bi bi-pencil-square"></i>
                                    </span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        <i (click)="delete(educacion.id)" type="button" class="bi bi-trash3"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>