<section id="educacion" class="container-fluid">
    <div class="container py-4 contenedor">
        <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus"><i
                class="bi bi-plus-circle"></i></span>
        <h2 class="display-6 mb-3 h2-lines">Educación</h2>
        <ul class="row justify-content-center list-unstyled mt-3">
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/MindHub.png" alt="AP" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Tester QA Manual (MindHub + AP 4.0)</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Bootcamp de testing intensivo orientado a tester manual y automatización básica.
                                Se utilizaron herramientas como Jira, JMeter, Selenium, Git, GitHub, para crear y ejecutar casos de pruebas de app's mobiles y web's.
                            </p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4">
                                        <span class="fw-bolder">Duración:</span> Ene 2023 - Mar 2023
                                    </p>
                                </div>
                                <div class="col-md text-center">
                                    <a target="_blank"
                                        href="https://www.credly.com/badges/b9145ecf-6016-4e46-9296-d8b7b3de59a5"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/arg-programa.png" alt="AP" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Full Stack Developer Junior (AP)</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Curso de Desarrollo Web FullStack donde se estudian y aplican diversas
                                tecnologías como; HTML, CSS, Bootstrap, Angular, Java, Spring Boot, entre otras.</p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4">
                                        <span class="fw-bolder">Duración:</span> Feb 2022 - Mar 2023
                                    </p>
                                </div>
                                <div class="col-md text-center">
                                    <a target="_blank"
                                        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/FESAT.png" alt="FESAT" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Lenguaje de programación Java certificado por
                                FESAT +450hs</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Desarrollé y terminé de comprender la lógica que implica utilizar
                                un lenguaje de programación y como se utiliza la POO. Además, se abarcó SQL relacional (con gestor MySQL)
                                aprendiendo a manipular, modificar, crear y eliminar datos de una base de datos.</p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4"><span class="fw-bolder">Duración:</span> Feb 2022 - Oct 2022 </p>
                                </div>
                                <div class="col-md text-center">
                                    <a target="_blank"
                                        href="http://santisimatrinidad.edu.ar/noticias/dictan-curso-y-taller-de-programacion-java/"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/IES.jpg" alt="IES" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Desarrollo de Software IES 9-021</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Actualmente me encuentro expandiendo mi conocimiento con una carrera terciaria
                                cercana a mi localidad, desarrollando mi pensamiento crítico, aprendiendo estructura de algoritmos y datos entre otras cosas.</p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4"><span class="fw-bolder">Duración:</span> Mar 2022 - Dec 2024 </p>
                                </div>
                                <div class="col-md text-center"><a target="_blank"
                                        href="https://ies9021.edu.ar/avada_portfolio/desarrollo/" class="btn btn-lg">Más
                                        info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>