<div class="container" *ngIf="persona">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" style="height: 100;" class="form-control" id="apellido" name="apellido"
                    [(ngModel)]="persona.descripcion" required>
            </div><br>
            <div class="form-group">
                <label for="img">Imagen:</label>
                <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.imagen"
                    (change)="uploadImagen($event)" accept=".jpg, .jpeg, .png">
            </div><br>
            <div class="imagen">
                <img [src]="imagenService.url" width="200">
            </div><br>
            <button class="btn btn-primary" style="margin-right: 10px;">Actualizar</button>
            <button class="btn btn-danger" type="button" (click)="Cancel()">Cancelar</button>
        </form>
    </div>
</div>