<!--Header-->
<header id="inicio" class="container-fluid header">
    <!--Barra de navegación-->
   <div class="row" style="height: 200px;">
       <div class="col header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark">
               <div class="container-fluid">
                   <a class="navbar-brand" target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../assets/logoAP.svg" alt="Argentina Programa"></a>
                   <ul _ngcontent-vtp-c14 id="main-menu" class="main-menu">
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://wa.me/5492615881975/?text=Hola+Lautaro,++vi+tu+CV+y+quisiera+contactarte."><i class="bi bi-whatsapp"></i></a>
                       </li>
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/lautaro-cabrera-fernandez-a56a89231/"><i class="bi bi-linkedin"></i></a>
                       </li>
                       <li _ngcontent-vtp-c14 class="main-menu__item">
                           <a target="_blank" class="nav-link" href="https://github.com/LautiCabrera"><i class="bi bi-github"></i></a>
                       </li>          
                   </ul>
                   <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarText">
                       <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
                           <li style="width: 130px;" class="nav-item">
                               <a class="nav-link" href="#sobre_mi">Sobre mí</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#habilidades">Habilidades</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#educacion">Educación</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#proyectos">Proyectos</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#contacto">Contacto</a>
                           </li>
                       </ul>
                       <span class="navbar-text">
                           <a class="nav-link fs-4" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user-lock"></i></a>
                       </span>
                   </div>
               </div>
           </nav> 
       </div>
   </div>
   <!--Texto del header-->
   <div class="container-lg contenedor" align="center">
       <div>
           <div class="col-12">
               <h2 class="display-1">Lautaro Cabrera</h2>
           </div>
           <div style="height: 92px;">
               <div align="center">
                <a><img width="90%"
                    src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=600&size=50&pause=1000&color=6052FF&center=true&width=1000&height=150&lines=Desarrollador+Full+Stack+Jr;T%C3%A9cnico+Desarrollador+de+Software;Tester+QA+Manual"></a>
                   <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#editUserModal"><i class="bi bi-pencil-square" href="#" style="color: rgb(255, 255, 255);"></i></span>
               </div>
           </div>
       </div>
   </div>
    <img width="100%" src="../assets/keyboard2.jpg">
 </header>
