<div class="d-flex justify-content-center" id="experiencia">
    <div class="recuadro m-2">
        <h1>Experiencia Laboral</h1>
        <span class="container d-flex justify-content-between">
            <button *ngIf="isLogged" routerLink="/addExp"  type="button" class="btn btn-outline agregar btn-dark"><i class="bi bi-plus-square"></i></button>
        </span>
        <br /><br />
        <div>
            <div *ngFor="let experiencia of experiencia">
                <div class="d-flex justify-content-between">
                    <h2>{{experiencia.nombre}}</h2>
                    <p>{{experiencia.descripcion}}</p>
                </div><br />
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isLogged">
                    <button type="button" class="btn btn-dark" >
                        <i class="bi bi-pen"></i>Editar</button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isLogged">
                    <button type="button" class="btn btn-dark">
                        <i class="bi bi-trash-fill"></i>Eliminar</button>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>