<section id="educacion" class="container-fluid background-grey">
    <div class="container py-4 contenedor">
        <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus"><i
                class="bi bi-plus-circle"></i></span>
        <h2 class="display-6 mb-3 h2-lines">Experiencia Laboral</h2>
        <ul class="row justify-content-center list-unstyled mt-3">
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/MindHub.png" alt="AP" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Tester QA Manual - MindHub</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Bootcamp de testing intensivo orientado a tester manual y automatización básica.
                                Creación y ejecutción de casos de pruebas en diversos proyectos, tanto de app's mobiles como sitios web's y video juegos.
                            </p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4">
                                        <span class="fw-bolder">Duración:</span> Ene 2023 - Mar 2023
                                    </p>
                                </div>
                                <div class="col-md text-center">
                                    <a target="_blank"
                                        href="https://www.credly.com/badges/b9145ecf-6016-4e46-9296-d8b7b3de59a5"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-12 card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="edu-img"><img src="../assets/Warping.jpg" alt="Warping" class="img-fluid"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Diseñador 3D - Warping</h4>
                            <p style="text-align:justify;" class="card-text fs-4">Dentro de esta empresa/emprendimiento familiar, soy el encargado del diseño de piezas tridimensionales, 
                                esto mediante el uso de diversos softwares tales como; Blender, Autocad y Meshmixer entre otros. Modelos que luego se imprimen con tecnología de fabricación por adición para su posterior venta.
                            </p>
                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <p class="fs-4">
                                        <span class="fw-bolder">Duración:</span> Sep 2021 - Presente
                                    </p>
                                </div>
                                <div class="col-md text-center">
                                    <a target="_blank"
                                        href="https://www.instagram.com/warping._.3d/"
                                        class="btn btn-lg">Más info</a>
                                    <span class="align-self-end edit-icon" data-bs-toggle="modal"
                                        data-bs-target="#itemModal"><i class="bi bi-pencil-square"></i></span>
                                    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                                            class="bi bi-trash3"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
