<section id="sobre_mi" class="container-fluid mt-3">
    <div class="container py-4 contenedor">
        <h2 class="display-6 mb-3 h2-lines">Sobre mí</h2>
        <div class="row align-items-center py-3">
            <div class="col-sm-4">
                <img src={{persona.imagen}} alt="profile" class="img-fluid">
                <span *ngIf="isLogged" class="edit-icon" data-bs-toggle="modal" data-bs-target="#editFotoModal">
                    <i routerLink="/editPer" *ngIf="isLogged" class="bi bi-pencil-square"></i>
                </span>
            </div>
            <div class="col-sm-8 mt-3">
                <p style="text-align:justify;" class="fs-4">{{persona.descripcion}}</p>
            </div>
        </div>
    </div>
</section>